.signup{
    margin-bottom: 2rem;
}
.signup-button{
    text-align: center;
}
.signin-button{
    text-align: center;
    
    a{
        color: lightseagreen;
        border-bottom: solid 3px lightseagreen;
    }
}

.unusable-wrap{
    margin-top: 2rem;
    margin-bottom: 2rem;
}