.signup{
    margin-bottom: 1rem;
}
.signup-button{
    text-align: center;
}
.unusable-signin-button{
    background: #dcd4d4;
    color: #e18992;
    border-radius: 4px;
    width: 90%;
    height: 36px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:1rem;
    a:hover{
        color:white;
    }
    a{
        width: 100%;
        text-align: center;
    }
}

.unusable-password-button{
    text-align: center;
    margin-top:3rem;
    
    a{
        color: #e18992;
        border-bottom: solid 3px #e18992;
    }
}


.unusable-wrap{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.signup-please{
    width: 90%;
    margin: auto;
    margin-bottom: 2rem;
}

.unusable-signup-button{
    background: #e18992;
    color: white;
    border-radius: 4px;
    width: 90%;
    height: 36px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    a:hover{
        color:white;
    }
    a{
        width: 100%;
        text-align: center;
    }
    
}

.unusable-or{
    text-align: center;
}