.myquestion-icon{
    justify-content: flex-end;
    .myquestion-comment-icon{
        padding-left: 8px;
    }
}

.myanswer-icon{
    text-align: right;
}

.myquestion-wrap{
    margin-top: 1rem;
}
.myanswer-wrap{
    margin-top: 3rem;
    margin-bottom: 4rem;
}