.myquestion-icon {
    justify-content: flex-end;

    .myquestion-comment-icon {
        padding-left: 8px;
    }
}

.myanswer-icon {
    text-align: right;
}

.myquestion-wrap {
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.myanswer-wrap {
    margin-top: 2rem;
    margin-bottom: 4rem;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
    margin: 0 1px;
}

button {
    appearance: none;

    padding: 10px 20px;
    margin: 0;
    border: none;
    background: lightgray;
    cursor: pointer;
}

.tab {
    background: #FFF;
    height: 40px;
    border-bottom: 1px #dbdbdb solid;
    position: relative;
    display: flex;

    .tab-container {
        display: flex;
        flex: 1;
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        position: relative;
    }

    a {
        display: block;
        flex: 1;
        text-align: center;
        text-decoration: none;
        padding-top: 2px;
        line-height: 37px;
        height: 39px;
        font-size: 11px;
        color: #b0b0b0;
        font-weight: bold;
        position: relative;
    }

    

    .tab-botton-active {
        color: rgb(225, 137, 146);

        &:after {
            content: '';
            width: 100%;
            display: block;
            position: absolute;
            height: 2px;
            background: rgb(225, 137, 146);
            bottom: -1px;
        }
    }
}


.tabpanel {
    display: none;
}

.tabpanel-active {
    display: block;
}

.option-wrap{
    button{
        background: white;
    }
}

.option-drop-down{
    padding:1rem;
    a{
        color:black
    }

    .divider{
        border-top: 1px solid rgba(34,36,38,0.1);
    height: 0em;
    margin: 0.5em 0em;
    }

    span{
        color:red;
    }
}

.option-button{
    text-align:right;
    button{
        color: #b0b0b0
    }
}

.my-answer-link{
    color:black;
}
.my-question-link{
    color:black;
}