.reaction-wrap{
    display: flex;
    justify-content: flex-end;

    .comment-icon{
        padding-left: 8px
    }
}

.top-wrap{
    margin-bottom: 6rem;
}

.loader-wrap{
    margin:3rem 0;
}


.question-heading{
    color: black;
}